h1 {
    color: gold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: blueviolet;
    text-align: center;
}

.personatge-img {
    margin-top: 20px;
    max-width: 200px;
    height: auto;
    display: block;
    margin: auto; /* centrado horizontal */
}

footer {
    background-color: rgb(70, 130, 180);
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 100%;
}

.error {
    color: red;
}

.login{
    position: fixed;
    top: 0; /* colocarlo arriba */
    right: 0; /* colocarlo a la derecha del todo */
    z-index: 10;  /* Asegura que el botón esté por encima del header */
}
.login .buttonLogin {
    display: inline-block;
    padding: 10px 20px;
    background-color: gold;
    color: black;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}


.login .buttonLogin:hover {
    background-color: darkblue;
    color: white;
}